[Unit]
Description = Get Xiaomi Mi Smart Scale 2 weight and publish to mqtt
After = network.target
StartLimitIntervalSec = 0

[Service]
Type = simple
Restart = always
RestartSec = 5
User = root
ExecStart = sudo /home/pi/git/mi-scale-2/main.py

[Install]
WantedBy = multi-user.target
